.container-contato {
  text-align: center;
  align-items: center;
  margin-top: 30px;
}

.text-area-img {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  padding: 1rem 8rem;
  gap: 50px;
  margin-bottom: 50px;

  section {
    p {
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  .text-area-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .text-area-img {
    display: flex;
    flex-direction: row;
    padding: 1rem 4rem;
  }
}
.redes-area {
  display: flex;
  flex-direction: column;
  padding: 3rem 8rem;

  section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
}
