.footer-area {
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px 10px 10px 10px;
  position: relative;
  width: 100%;

  p {
    margin-bottom: 10px;
  }
}

.footer-texts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  span {
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .footer-texts {
    display: flex;
    flex-direction: column;
  }
}

.footer-copy {
  p {
    padding-top: 15px;
    font-weight: bold;
  }
}
